---
import Layout from "../layouts/Layout.astro";
import Card from "../components/UI/card/card.astro";
import data from "../../public/data.json"; // Importamos el JSON
---

<Layout>
  <section
    class="w-full min-h-screen flex flex-col items-center justify-center bg-gray-100 p-8"
  >
    <div
      class="max-w-5xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      {
        data.map((item: any) => {
          const title = item.Campo.split("/").pop().replace(/-/g, " "); // Extrae el nombre de la URL
          return (
            <Card
              title={title}
              description="Una descripción breve de la película."
              image={item.Imagen}
              tags={["#película", "#cine"]}
              alt="Imagen de la película"
            />
          );
        })
      }
    </div>
  </section>
</Layout>
